<h2>관리자 페이지</h2>

<h3>주제 설정</h3>

<form method="POST" action="/setTopic">

주제
<input name="topic">

최소 글자수
<input name="minChars">

<button>저장</button>

</form>

<form method="POST" action="/startExam">
<button>시험 시작</button>
</form>

<hr>

<h3>학생 명단 입력</h3>

<p>엑셀에서 복사하여 붙여넣으세요</p>
<p>형식: 이름,학번</p>

<form method="POST" action="/addStudents">

<textarea name="list" rows="10" style="width:400px;"></textarea>

<br><br>

<button type="submit">학생 등록</button>

</form>