<h2>글쓰기 시험 로그인</h2>

<form method="POST" action="/login">

이름 <input name="name"><br>

학번 / 관리자ID <input name="id"><br>

관리자 비밀번호 <input name="password" type="password"><br>

<button>로그인</button>

</form>