<h2><%= topic %></h2>

<textarea id="editor"><%= text %></textarea>

<div>

공백포함 <span id="withSpace">0</span> /
공백제외 <span id="withoutSpace">0</span>

</div>

<button onclick="save()">임시저장</button>
<button onclick="submitExam()">제출</button>

<script>

const id="<%= id %>"
const minChars=<%= minChars %>

</script>

<script src="/editor.js"></script>